[Unit]
Description=Mausjaeger
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u /home/pi/mousehunter-edge/mausjaeger/mausjaeger.py --conf /home/pi/mousehunter-edge/mausjaeger/conf.json
WorkingDirectory=/home/pi/mousehunter-edge/mausjaeger
StandardOutput=append:/var/log/mausjaeger.log
StandardError=append:/var/log/mausjaeger.log
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
